@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

h1,
h3 {
  color: white;
  font-family: "Bebas Neue";
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 2em;
  border-bottom: 2px solid black;
  background-color: white;
}

nav > div {
  display: flex;
  height: fit-content;
}

nav > div > ul {
  list-style: none;
  display: flex;
  gap: 2em;
  font-size: 1.25em;
}

nav > h2 {
  font-family: "Bebas Neue";
  font-size: 3em;
}

footer {
  width: 100%;
  background-color: white;
  min-height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home page*/

.page {
  padding: 1em;
  width: 100vw;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 2em;
}

.home_splash {
  background-image: url(./Assets/Logo/Logo_white.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 85vw;
  height: 30em;
  margin-top: 2em;
}

.home_about {
  text-align: center;
  font-size: 1.2em;
  width: 50%;
}

.home_about > h3 {
  font-size: 4em;
}

.home_about > p {
  font-size: 1.25em;
}
